#telaCarregando {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background-color: rgba(74, 74, 86, 0.8);
    text-align: center;
    font-weight: bold;
    z-index: 10;
    color: #fdfdfd;
    font-size: 1.4em;
    display: block;
}

#telaCarregandoMsg,
#telaCarregandoContadorMsg {
    margin: 0;
    font-size: 1.6em;
}

#telaCarregandoMsg {
    margin-top: 19%;
}

#telaCarregandoContadorMsg {
    margin-top: 0.6em;
}