.#bg {
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../img/bg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: grayscale(65%) blur(0.2em);
}

.bgVerde {
    background-color: #558B2F;
}

.btn-large {
    width: 100%;
}

.no-bottom {
    margin-bottom: 0 !important;
}

.tituloApp {
    margin: 2em 0em 8em 0em;
}

.tituloApp .textoTituloApp {
    font-size: 2.5em;
    margin: 0 !important;
}

.tituloApp .subtextoTituloApp {
    font-size: 1.3em;
    margin: 0 !important;
}

.topo {
    margin-top: 8em;
}

.menu {
    padding: 0em !important;
}

#maisOpcoes {
    padding-right: 1rem;
}

.centralizacao-vertical {
    display: -webkit-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.tabs {
    overflow-x: hidden;
    background-color: transparent;
}

.tabs .tab a {
    color: #BABABA;
}

.tabs .tab .active {
    color: #000000;
}

.tabs .tab a:hover {
    color: #000000;
}

.tabs .indicator {
    background-color: #000000 !important;
}

.tabs2 .tab2 a {
    color: #BABABA;
}

.tabs2 .tab2 .active {
    color: #90c664;
}

.tabs2 .tab2 a:hover {
    color: #90c664;
}

.tabs2 .indicator {
    background-color: #90c664 !important;
}

#busca {
    width: 85%;
}

#logo {
    width: 1em;
}

#img {
    width: 10em;
}

#img2 {
    width: 5em;
}

#partido {
    width: 3em;
}

.container {
    padding: 0.5em 0em;
}

.deputado {
    border-top: 0.5em solid #01579b;
}

.vereador {
    border-top: 0.5em solid #ffd54f;
}

.projeto {
    border-top: 0.5em solid #558B2F;
}

.card {
    margin: 1em auto 1rem;
}

.colunaNumVotos {
    display: flex;
    flex-direction: column;
}

.numVotos {
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-self: center;
}

#votosSim {
    background-color: #558B2F;
}

#votosNao {
    background-color: #bdbdbd;
}

#votosAbs {
    background-color: #b71c1c;
}

#bgCoverPerfil {
    background-image: url("../img/covers/filter.png"), url("../img/covers/coverPerfil.jpg");
}

#bgCoverPerfilPolitico {
    background-image: url("../img/covers/filter.png"), url("../img/covers/coverPerfilPolitico.jpg");
}

#bgCoverPerfilProjeto {
    background-image: url("../img/covers/filter.png"), url("../img/covers/coverPerfilProjeto.jpg");
}

.bgCover {
    display: flex;
    flex-direction: column;
    background-repeat: repeat, repeat;
    background-size: cover;
    padding: 0.5em;
    justify-content: center;
    z-index: 6;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

.bgCover #logoPencil {
    color: #FFFFFF;
    text-align: right;
    cursor: pointer;
}


/*-------
TELA 1
-------*/

main .row {
    margin-bottom: 0;
}

#nomePolitico {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #323232;
}

#partidoPolitico {
    font-size: 12px;
    color: #6a6a6a;
}

#fotoPerfil #img {
    width: 5em;
    height: 5em;
    position: relative;
    display: flex;
    margin: -2.6em 0em 0em 1em;
    z-index: 6;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
}

#imgPerfil {
    border-radius: 13em;
}

#imgPerfil .image-upload > input {
    display: none;
}

#imgPerfil #img {
    border-radius: 13em;
    width: 6em;
    height: 6em;
    margin-top: 0.8em;
    z-index: 2;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16), 0 3px 2px rgba(0, 0, 0, 0.23);
}

.textoInfo {
    font-size: 2.5em;
}

.subTextoInfo {
    font-size: 1.5em;
}

#legendaFoto {
    font-size: 0.8em;
    color: #333333;
    margin: 0em 5em;
}

.modal.modal-fixed-footer .modal-content {
    overflow-x: hidden;
}

.switch label input[type="checkbox"]:checked + .lever {
    background-color: #558B2F !important;
}

.descBotao {
    font-size: 0.8em;
    margin-bottom: 3em;
    text-align: center;
}

.pointer {
    cursor: pointer;
}


/*# sourceMappingURL=style.css.map */

nav {
    position: fixed;
    top: 0em;
    z-index: 99;
}

.carousel .carousel-item {
    width: 13em !important;
}

#sidenav-overlay {
    z-index: 9 !important;
}

.carousel {
    height: 14.6em !important;
    background-color: transparent !important;
}

.modalFull {
    max-height: 96% !important;
    height: 96% !important;
    width: 94% !important;
    top: 2% !important;
}

.modalFull p {
    margin: 0.1em !important;
}

.imgEquipe {
    width: 5em;
}

.tituloEquipe {
    font-size: 1.5em;
}

#dadosPolitico {
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.rs {
    color: rgba(20, 20, 20, 0.6);
    font-size: 0.6em;
    font-weight: light;
    display: flex;
    align-content: center;
    align-items: center;
    margin-right: 0.3em;
}

.value {
    font-size: 1.2em;
    display: flex;
    align-content: center;
    align-items: center;
    color: #323232;
}

.dropdown-content {
    min-width: 140px !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: blue;
}

#d3-simple-interaction {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* external css: flickity.css */

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: sans-serif;
}

.carousel {
    background: #FAFAFA;
}


/*.carousel-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;*/


/*background-attachment: fixed;
    background-size: cover;
    border-radius: 5px;
    counter-increment: carousel-cell;
}
*/

.carousel-cell {
    width: 56%;
    height: 180px;
    max-width: 120px;
    margin-right: 10px;
    /*background: #8C8;*/
    /*background-attachment: fixed;*/
    background-size: inherit;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.is-selected {
    width: 65%;
    height: 225px;
    max-width: 160px;
    position: absolute;
    z-index: 99999;
    margin-left: -20px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.27);
}

.black {
    position: absolute;
}

.center h5 {
    color: #454545;
    font-size: 23px;
}

#dadosPolitico {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    width: 90%;
    height: 71px;
    margin: 0 auto;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #BABABA;
}

.dropdown-content li > a:hover,
.dropdown-content li > span:hover {
    color: #90c664;
}

.flickity-enabled,
.flickity-viewport {
    height: 240px !important;
}

nav {
    background-image: url(../img/header.png);
    height: 50px !important;
}

nav .button-collapse i {
    font-size: 1.7rem;
    line-height: 50px;
    margin-left: 0.4em;
}

.mdi-magnify {
    font-size: 1.6rem;
    line-height: 51px;
}

.mdi-menu-down {
    display: inline-block;
    position: relative;
    top: 0.2em;
}


/* cell number */

.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}

.btn-xl {
    width: 100% !important;
}


/* Tooltip */

.wrapper {
    text-transform: uppercase;
    background: #ececec;
    color: #555;
    cursor: help;
    font-family: "Gill Sans", Impact, sans-serif;
    font-size: 20px;
    margin: 100px 75px 10px 75px;
    padding: 15px 20px;
    position: relative;
    text-align: center;
    width: 200px;
    -webkit-transform: translateZ(0);
    /* webkit flicker fix */
    -webkit-font-smoothing: antialiased;
    /* webkit text rendering fix */
}

.wrapper .tooltip {
    background: #1496bb;
    bottom: 100%;
    color: #fff;
    display: block;
    left: -25px;
    margin-bottom: 15px;
    opacity: 0;
    padding: 20px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}


/* This bridges the gap so you can mouse into the tooltip without it disappearing */

.wrapper .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}


/* CSS Triangles - see Trevor's post */

.wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #1496bb 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.wrapper:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}


/* IE can just show/hide with no transition */

.lte8 .wrapper .tooltip {
    display: none;
}

.lte8 .wrapper:hover .tooltip {
    display: block;
}